<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>MyASTROapp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-item>
      <ion-label position="floating">Ingrese nombre de usuario</ion-label>
      <ion-input [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>

      <ion-text color="primary">
        <a [routerLink]="['/recuperar']" class="recover-link">Recuperar contraseña</a>
      </ion-text>
    </ion-item>

    <ion-button expand="block" [disabled]="nombre.trim().length === 0 || password.trim().length === 0" (click)="validarIngreso()">
      Ingresar
    </ion-button>
  </div>
</ion-content>