.container {
  text-align: center;
  padding: 20px;
}

ion-item {
  margin-bottom: 15px;
}

.recover-link {
  color: #FF9900; /* Naranja brillante */
  font-weight: bold;
}

.astroworld-button {
  background: linear-gradient(45deg, #551A8B, #00FFFF); /* Púrpura y azul neón */
  color: #fff;
  font-size: 1.2rem;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); /* Sombra */
  margin-top: 20px;
}

ion-button:hover {
  transform: scale(1.05); /* Efecto hover */
  transition: transform 0.3s ease-in-out;
}
